*{
font-family: 'Raleway', sans-serif;
font-family: 'Noto Serif SC', serif;

}
body {
	background-color: #F2EBC7;
}

header {
	margin: 10px auto;
	background-color: #962D3E;
	border: 1px solid #bbb;
	box-shadow: 0 0 30px #777;
	text-align: center;
}

header img, .headings {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}

h1 {
	color: white;
}

.motto {
	color: white;
}

ul{
	list-style-type: none;
}

img {
	display: inline-block
}



