*{
    font-family: 'Raleway', sans-serif;
    font-family: 'Noto Serif SC', serif;
    padding: 0;
    margin: 0;
    
    }
    body {
        background-color: #F2EBC7;
    }

    main{
        margin: 0 auto;
        max-width:960px;
    }
    
    footer{
        margin: 10px auto;
        max-width:960px;
        margin: 10px auto;
        background-color: #962D3E;
        border: 1px solid #bbb;
        box-shadow: 0 0 30px #777;
        text-align: center;
        color: white;
    }

    header {
        margin: 10px auto;
        background-color: #962D3E;
        border: 1px solid #bbb;
        box-shadow: 0 0 30px #777;
        text-align: center;
        max-width: 960px;
    }
    
    .contact{
        margin: 0 auto;
        max-width: 960px;
    }

    .headerimg{
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        height: auto;
    }
    .hero{
        display: inline-block;
        margin: 1rem auto;
        max-width: 100%;
        position: relative;
    }

    .weathersummary {
        position: absolute;
        top: 25px;
        left: 50px;
        background: radial-gradient(#eee, #F2EBC7);
        color: #343642;
        padding: 1.5rem;
        box-shadow: 0 0 30px #fff;
        border: 1px solid #343642;
    }

    h1 {
        color: white;
    }
    
    .motto {
        color: white;
        margin: 10px;
    }
    
    ul{
        list-style-type: none;
    }
    
    nav {margin: 0 auto; max-width: 960px; background-color: #348899;}
        .site-navigation {list-style: none; text-align: center;}
            .site-navigation li:first-child {display:block;}
            .site-navigation li {display:none}
            .site-navigation a {display:block; color: #fff; padding: .75rem; text-align: center; text-decoration: none;}
            .site-navigation a:hover {color: #348899; background-color: #fff; font-weight: 700;}
            .active {text-decoration-line: underline;}

    .articleimg {
        max-width: 100%;
        display: inline-block;
        padding: 1rem;
    
    }

.town-article{
    display: block;
    margin: 1rem auto;
    position: relative;
}

    .weatherdetails {
      display: block;  
    }
  
    .fiveday{
        background-color: #fff;
        text-align: center;
        margin: 1rem auto;
    }
    .fiveday th, td{
        border: 2px solid #343642;
        
    }
/*
    
    .headings {

    }

    .label{

    }

    .value {

    }

    .forecast-image {

    }
    
    .town-article {

    */